h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.2rem;
  margin: 0.25rem 0; }

h3 {
  font-size: 0.75rem;
  font-family: 'radikalthin'; }

@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.2rem; }
  h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0; }
  h3 {
    font-size: 0.875rem; } }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow: hidden;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Dosis, Open Sans, Helvetica, Arial;
  font-size: 16px; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
  overflow: hidden; }

.leaflet-control-zoom a {
  background-color: #fff; }

@media screen and (max-width: 39.9375em) {
  .leaflet-control-zoom {
    display: none; } }

.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px; }

.leaflet-popup-content-wrapper {
  background: #fff;
  border-radius: 0px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4);
  min-width: 180px; }

.leaflet-popup-content {
  padding: 30px 30px 15px 20px;
  font-size: 16px;
  line-height: 22px;
  font-family: Dosis, Open Sans, Helvetica, Arial; }

.popupHead {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px; }

.leaflet-popup-close-button, .map-tooltip.closable .close {
  background-position: -4px -82px;
  width: 30px;
  height: 30px;
  background-size: 39px 390px; }

.filter {
  position: absolute;
  max-width: 300px;
  width: calc(100vw - 50px);
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  top: 70px;
  right: 0;
  transition: all 0.3s ease-in;
  padding: 10px 0;
  color: #fff; }
  .filter.off {
    transform: translateX(100%); }

.filter-head {
  font-size: 1.25rem;
  color: #fff;
  line-height: 50px;
  margin-bottom: 20px;
  width: 100%;
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  cursor: pointer; }
  @media screen and (min-width: 40em) {
    .filter-head {
      width: 300px; } }
  .filter-head .nfn-logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/nfn_logo.png);
    position: relative;
    display: inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px; }

.filter-items .filter-item {
  width: 100%;
  padding: 5px 25px;
  line-height: 2rem;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #f8f8f8;
  opacity: 0.7; }
  .filter-items .filter-item.is-active {
    opacity: 1; }
  .filter-items .filter-item img {
    width: 25px;
    float: left;
    position: relative;
    top: -1px;
    margin-right: 14px;
    pointer-events: none; }
  .filter-items .filter-item .line {
    width: 25px;
    margin-right: 14px;
    height: 30px;
    float: left; }
    .filter-items .filter-item .line span {
      width: 26px;
      height: 2px;
      position: relative;
      left: 2px;
      display: inline-block;
      background-color: #D05D00;
      transform: rotate(-30deg);
      transform-origin: 0 50%; }
  .filter-items .filter-item.c img {
    width: 27px;
    top: 7px;
    margin-right: 12px; }

.bike-icon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white; }

.icon-dc {
  background: #3ca0d3; }

.icon-sf {
  background: #63b6e5; }

.menu-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 100;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  .menu-btn .line-case {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: rotate(0); }
    .menu-btn .line-case span {
      display: block;
      width: 17px;
      height: 2px;
      background: #aaa;
      position: absolute;
      left: 16px;
      z-index: 1; }
    .menu-btn .line-case.lc0 span {
      top: 23px;
      transition: transform 0.2s;
      transform: translateY(-4px); }
    .menu-btn .line-case.lc1 span {
      bottom: 23px;
      transform: translateY(4px);
      transition: transform 0.2s; }
  .menu-btn.is-active {
    transform: rotate(90deg); }
    .menu-btn.is-active .lc0 {
      transform: rotate(45deg); }
      .menu-btn.is-active .lc0 span {
        transform: translateY(0); }
    .menu-btn.is-active .lc1 {
      transform: rotate(-45deg); }
      .menu-btn.is-active .lc1 span {
        transform: translateY(0); }
