h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.2rem;
  margin: 0.25rem 0; }

h3 {
  font-size: 0.75rem;
  font-family: 'radikalthin'; }

@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.2rem; }
  h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0; }
  h3 {
    font-size: 0.875rem; } }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow: hidden;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Dosis, Open Sans, Helvetica, Arial;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
  overflow: hidden; }

.leaflet-control-zoom a {
  background-color: #fff; }

@media screen and (max-width: 39.9375em) {
  .leaflet-control-zoom {
    display: none; } }

.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px; }

.leaflet-popup-content-wrapper {
  background: #fff;
  border-radius: 0px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4);
  min-width: 180px; }

.leaflet-popup-content {
  padding: 30px 30px 15px 20px;
  font-size: 16px;
  line-height: 22px;
  font-family: Dosis, Open Sans, Helvetica, Arial; }

.popupHead {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px; }

.leaflet-popup-close-button, .map-tooltip.closable .close {
  background-position: -4px -82px;
  width: 30px;
  height: 30px;
  background-size: 39px 390px; }

.mapbox-improve-map {
  display: none; }

.leaflet-div-icon {
  border: none;
  background: none; }
  .leaflet-div-icon .buegel-cluster {
    width: 20px;
    height: 25px;
    background-image: url(../img/icon-buegel-c.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block; }
    .leaflet-div-icon .buegel-cluster .count {
      background-color: #848484; }
  .leaflet-div-icon .bike-cluster {
    width: 31px;
    height: 19px;
    background-image: url(../img/icon-bike-y.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block; }
    .leaflet-div-icon .bike-cluster .count {
      background-color: #2196f3; }
  .leaflet-div-icon div .count {
    width: 22px;
    height: 22px;
    position: absolute;
    top: -20px;
    left: -10px;
    border-radius: 11px;
    background-color: #2196f3;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 14px; }

.filter-head {
  font-size: 1.25rem;
  color: #fff;
  line-height: 35px;
  margin-bottom: 20px;
  width: 100%;
  position: absolute;
  right: 0;
  background: black;
  padding: 10px 15px;
  cursor: pointer; }
  .filter-head .nfn-logo {
    width: 35px;
    height: 35px;
    background-image: url(../img/nfn_logo.png);
    position: relative;
    display: inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px; }
  @media screen and (min-width: 40em) {
    .filter-head {
      width: 300px;
      line-height: 50px; }
      .filter-head .nfn-logo {
        width: 50px;
        height: 50px; } }

.filter {
  position: absolute;
  max-width: 220px;
  width: calc(100vw - 50px);
  height: calc(100% - 55px);
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  top: 55px;
  right: 0;
  transition: all 0.3s ease-in;
  padding: 20px 0 50px;
  color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 40em) {
    .filter {
      height: calc(100% - 70px);
      max-width: 300px;
      top: 70px; } }
  .filter.off {
    transform: translateX(100%); }

.filter-items-inner {
  min-height: 100vh; }

.filter-items .filter-item, .filter-items #routes-btn {
  width: 100%;
  padding: 5px 10px;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #f8f8f8;
  opacity: 0.7; }
  .filter-items .filter-item.is-active, .filter-items #routes-btn.is-active {
    opacity: 1; }
  .filter-items .filter-item .key, .filter-items #routes-btn .key {
    width: 60px;
    text-align: center;
    float: left; }
  .filter-items .filter-item img, .filter-items #routes-btn img {
    width: 25px;
    position: relative;
    pointer-events: none; }
    .filter-items .filter-item img.tw, .filter-items #routes-btn img.tw {
      width: 20px; }
  .filter-items .filter-item .line, .filter-items #routes-btn .line {
    width: 26px;
    height: 2px;
    position: relative;
    left: 2px;
    display: inline-block;
    transform: rotate(-30deg);
    transform-origin: 0 50%;
    background-position: bottom;
    background-size: 10px 3px;
    background-repeat: repeat-x; }
    .filter-items .filter-item .line.cobblestone, .filter-items #routes-btn .line.cobblestone {
      background-image: linear-gradient(to right, #faad00 70%, rgba(255, 255, 255, 0) 0%); }
    .filter-items .filter-item .line.bike-path-t, .filter-items #routes-btn .line.bike-path-t {
      background-color: rgba(102, 204, 102, 0.7); }
    .filter-items .filter-item .line.bike-path-l, .filter-items #routes-btn .line.bike-path-l {
      background-color: rgba(149, 117, 205, 0.7); }
    .filter-items .filter-item .line.bike-path-sb, .filter-items #routes-btn .line.bike-path-sb {
      background-color: rgba(186, 186, 186, 0.4); }
    .filter-items .filter-item .line.tracks, .filter-items #routes-btn .line.tracks {
      background-color: #f55050; }

.filter-items #routes-btn {
  padding-top: 0; }

#filter-wrap {
  overflow: hidden;
  transition: 0.3s all; }

#route-list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s 0.5s;
  padding-left: 30px; }
  #route-list.is-active {
    height: auto; }
  #route-list .track {
    padding: 5px 10px;
    line-height: 1.5rem;
    cursor: pointer;
    color: #f8f8f8;
    opacity: 0.7; }
    #route-list .track.is-active {
      opacity: 1; }

.bike-icon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white; }

.icon-dc {
  background: #3ca0d3; }

.icon-sf {
  background: #63b6e5; }

.menu-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 100;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  @media screen and (min-width: 40em) {
    .menu-btn {
      top: 12px; } }
  .menu-btn .line-case {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: rotate(0); }
    .menu-btn .line-case span {
      display: block;
      width: 17px;
      height: 2px;
      background: #aaa;
      position: absolute;
      left: 16px;
      z-index: 1; }
    .menu-btn .line-case.lc0 span {
      top: 23px;
      transition: transform 0.2s;
      transform: translateY(-4px); }
    .menu-btn .line-case.lc1 span {
      bottom: 23px;
      transform: translateY(4px);
      transition: transform 0.2s; }
  .menu-btn.is-active {
    transform: rotate(90deg); }
    .menu-btn.is-active .lc0 {
      transform: rotate(45deg); }
      .menu-btn.is-active .lc0 span {
        transform: translateY(0); }
    .menu-btn.is-active .lc1 {
      transform: rotate(-45deg); }
      .menu-btn.is-active .lc1 span {
        transform: translateY(0); }
